/* src/sass/App.css */
@import 'normalize.css';
/* Your other styles */
$primary_color :#fffeea;
$dark_color: #1a2a21;

body{
    max-width: 100vw;
    
}
@mixin FlexProp($direction,$js,$ai){
    display: flex;
    flex-direction: $direction;
    justify-content: $js;
    align-items: $ai;
}
.Maindiv{
    background-image: linear-gradient( 184.1deg,  rgba(249,255,182,1) 44.7%, rgba(226,255,172,1) 67.2% );
    background-image: url(https://wallpapercave.com/wp/wp4087487.jpg);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden  
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 3rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient( 184.1deg,  rgba(249,255,182,1) 44.7%, rgba(226,255,172,1) 67.2% );
}
.navbar >:first-child{
    margin-right: auto;
}
.navbar>:last-child{
    margin-left: auto;
}


.logo {
    height: 2rem;
    max-width: 10rem;
    min-width: 6rem;
    margin: .2rem;
    text-align: center;
    padding: .2rem;

}
.logo_section{
    @include FlexProp(row,flex-end ,center );
    margin:1rem;
    color: $primary_color;
    padding:.1rem
    
}
.Nav_element {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0 2rem;
    border-radius: 1rem;
    background-color: rgb(244, 244, 187);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
   

}
.nav_list_element{
    color: $dark_color;
    text-decoration: none;
    margin-left: 2REM;
    border-bottom: 2px solid transparent;
    &:hover{
        border-bottom: 2px solid black;
       
    }
    &:focus{
        color: rgb(24, 56, 44);
    }
}
.login_button{
    padding: .5rem;
    font-size: 1rem;
    margin-right: 1rem;
    grid-area: c;
    grid-column: 4/5;
   color: white;
    border-radius: .5rem;
    background-color: rgb(20, 47, 21);
    border: 2px solid transparent;
   
    &:hover{
        cursor: pointer;
       
        
    }
}

.hero_main{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    justify-content: start;
    width: 30%;
    margin: 3rem;
    font-size: 1.7rem;
    
}

.Hero_button{
    padding: .7rem;
    margin-left: 0rem;
    background-color: yellow;
    border: 2px solid transparent;
    border-radius: 10px

}


.menucard{
    @include FlexProp(row,space-around ,center );
    width: 100vw;
    height: auto;
    flex-wrap: wrap;
}
.card {
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 1rem;
    width: 15rem;
    max-width: 15rem;
    min-width: 15rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( 184.1deg,  rgba(249,255,182,1) 44.7%, rgba(226,255,172,1) 67.2% );
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
   
}
.menu_image{
    height: 14rem;
    max-width: 15rem;
    min-width: 15rem;
    border: 2px solid transparent;
    border-radius: .31rem;
    text-align: center;
}
.finalprice{
    font-size: larger;
    padding: 0px;
    margin: 0px;
}
#final{
    background-color:#C1F2B0;
    padding: .5rem;
    border-radius: 10px;
}
.grid_container{
    @include FlexProp(column, flex-start, center);
    font-size: larger;
    text-align: center;
    border-radius: 10px;
    color: $primary_color;

}
.hero_section{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: .5rem;
    column-gap: 1rem;
    background-image: linear-gradient( 184.1deg,  rgba(249,255,182,1) 44.7%, rgba(226,255,172,1) 67.2% );
    margin-left: 5em;
    margin-right: 5rem;
    padding: 2rem;
    gap : 1rem;
    color: $dark_color;
    border-radius: 2rem;
    grid-template-areas: " i i i i i"
                          "a a b b b"
                          "c c d e e"
                          "c c  f e e";
}   
.img{
    grid-area: i;
}
#input_name{
    grid-area: a;
    margin: 2rem 0 0 2rem;

}
#email_name{
    grid-area: b;
  
    margin: 2rem 0 0 2rem;

}
#date{
    grid-area: c;
   

}
#Time{
grid-area: d;


}
#Number_of_person{

    grid-area: e;
    
}
.hero_button{
    grid-area: f;
 
    background-color: $dark_color;
    color: #fffeea
    
}
.Link{
   
    text-decoration: none;

}
#Name,#Email,#date,#Time,#people_number{
    height: 2rem;
    width: auto;
    text-align: center;
    border-radius: 10px;
}
.Table_info{
    border: 2px solid $dark_color;
}
.Online_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    background-image: linear-gradient( 184.1deg,  rgba(249,255,182,1) 44.7%, rgba(226,255,172,1) 67.2% );
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #1a2a21;
}

.img{
    height: 3rem;
    display: block;
    margin: 1rem;
    grid-area: i;
    
}
.Online_section>:first-child{
   justify-self: start;
   align-self: flex-start;
}
.Online_main{
    display: flex;
    flex-direction: column;
    border: 2px solid $dark_color;
    border-radius: 10px;

}
.Online_element{
    border: 1px solid black;
    margin: 0%;
    height: 3rem;
    text-align: center;
    padding-left: .3rem;
    padding-right: .3rem;
    
}
.Online_button_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Online_button{ 
    margin: 1rem;
    padding: .3rem;
    color: $primary_color;
    border-radius: 6px;
}
.form{
    
    
    margin: .6rem;
    text-align: center;
    border-radius: 1rem;
    max-width: max-content;
    width: min-content;
    
}
.heading{
    text-align: center;

}
.button,.Order_button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1rem 2rem;
    border: 2px solid $primary_color;
    text-align: center;
    font-size: 1.3rem;
    margin: .62rem;
    cursor: pointer;
    border-radius: .62rem;
    &:hover{
       cursor: pointer;
       border: 2px solid $dark_color;
    }
    &:focus{
        background-color: #28612a;
    }  
}
.input_login{
    
    padding: .31rem;
    margin: .31rem;
    border-radius: .62rem;
    background-color: #e9efe9;
   
    font-size: .62rem;
    width: 10rem;
    height: 2rem;
}
.heading{
    font-size: .62rem;
    color:$dark_color;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.label{
    font-size: 1.2rem;
    padding: .31;
    margin: .62rem;
    font-family: Arial, Helvetica, sans-serif;
}
.login_conatiner{
    display: inline-block;
    border: 2px solid $dark_color;
    padding: 50px;
    margin: 20px;
    border-radius: .5rem;
    background-image: linear-gradient( 184.1deg,  rgba(249,255,182,1) 44.7%, rgba(226,255,172,1) 67.2% );

   
}
.heading{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 20px;
    padding: .62rem;
   
    border-radius: .31rem;
}
.login_form{
   @include FlexProp(row, center,center );
   
   margin: 1rem 10rem 10rem 10rem;
   padding: .0;
   height: max-content;
   border-radius: 1rem;   
}
.login_form>:first-child{
    justify-self: start;
    align-self: flex-start;
    margin: 1rem;
    margin-left: 0;
    position: relative;


}
.login_ing{
    position: relative;
    margin-left: .5rem;
}
.Footer{
    background-image: linear-gradient( 184.1deg,  rgba(249,255,182,1) 44.7%, rgba(226,255,172,1) 67.2% );

    @include FlexProp(row,space-around,center)
}

.footer_list{
    @include FlexProp(row,space-between,center )
}
.footer_img{
    height: 20rem;
    width :10rem;

}
.footer_element{
    color: $dark_color;
    padding: 1.5rem;
}
li{
    
    list-style: none;
    font-size: 6rem;
    color: #4CAF50;

    
}
.footer_copyright{
    background-image: linear-gradient( 184.1deg,  rgba(249,255,182,1) 44.7%, rgba(226,255,172,1) 67.2% );
    margin: .1rem;
h5{
    text-align: center;
    margin-bottom: 0px;
    font: 1em sans-serif;
    margin: 0;
}
}
@media only screen and (width < 675px) {
    .Nav_element{
        @include FlexProp(column,center,center );
        margin-top: 10rem;
        padding: 2.1rem;
        padding-top: 12rem;
        grid-column-start: 1/2;
        width: 10rem;
        position: absolute;
       margin-right: 0rem; 
       right: 0;
        height: 98rem;   
}
html{
    font-size: 10px;
}

.Maindiv{
    width: 100vw;
    overflow-x: hidden;
    background-image: url(https://i.pinimg.com/736x/52/47/c8/5247c855afaf52e9e3fb698f1ba10a2a.jpg);
}
.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.navbar .logo{
    align-self: center;
    justify-self: center;
}
.logo{
    height: 3rem;
    margin-left: 12rem;
}
.nav_list_element{
    padding-bottom: 1rem;
}
.hero_main{
    margin: 11rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 2rem;

}
.menu_button{
  
    z-index: 2;
 
}
.login_form{
    margin: 2.6rem;
    @include FlexProp(column, center,center );
width: 85vw;}
.Online_button_div{
    margin-top: 1rem;

}
.Online_section{
    margin-top: 5rem;
}
.Hero_Section{
   margin-top: 12rem;
  
}
.hero_section {
    @include FlexProp(column, center,center );
    grid-template-columns: 1fr 2fr;
   row-gap: 2rem;
    margin-top: 4rem;
    width: 30rem;

  }
  .hero_button{
    margin-top: 0rem
    ;
  }
  .Input_field{
    margin: .7rem;
  }
  .card{
    background-color: yellow;
  }
  .footer_img{
    height: 10rem;
    width :5rem;

}
}
.about-us{
    background-image: linear-gradient( 184.1deg,  rgba(249,255,182,1) 44.7%, rgba(226,255,172,1) 67.2% );
    font-size: 1rem;
    text-align: center;
    margin: 0;
h6,h5{
    font-size: 1rem;
    color: #1a2a21;
}}

